<div id="tab-pane-left">
  <div class="choose-address-image">
    <%= f.file_field :photo, class: "file-address" %>
    <%= f.hidden_field :_destroy %>
    <div class="upload-preview" style="display: none">
      <%= image_tag("", class: "img-preview img-thumbnail preview") %>
    </div>
  </div>
  <div class: "set-main-checkbox">
    <%= f.check_box :is_main, class: "is-main-checkbox" %>
    <span><%= t "address.choose_main_image" %></span>
  </div>
</div>
<div id="tab-pane-right">
  <%= link_to "", "javascript:void(0);",
    onclick: "remove_fields(this)", class: "glyphicon glyphicon-trash", title: t("address.remove_image"), rel: "tooltip" %>
</div>
