<%= form_for resource, as: resource_name, url: registration_path(resource_name),
  method: :put do |f| %>

  <div class="btn-form">
    <%= link_to "", root_path, class: "btn btn-primary back-btn glyphicon
      glyphicon-arrow-left", title: t("button.back") %>
    <%= f.submit t("button.update_account"), class: "btn btn-primary" %>
  </div>
  <div class="col-md-8 well" id="edit-user-form">
    <%= devise_error_messages! %>

    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>

    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, class: "form-control" %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>
        <%= t "description.wait_confirmation" %>
        <%= resource.unconfirmed_email %>
      </div>
    <% end %>

    <%= f.label :address %>
    <%= f.text_field :address, class: "form-control" %>

    <%= f.label :age %>
    <%= f.text_field :age, class: "form-control" %>

    <%= f.label :job %>
    <%= f.text_field :job, class: "form-control" %>

    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, class: "form-control" %>

    <span>
      <%= f.label :avatar %>
      <%= f.file_field :avatar %>
    </span>
  </div>
<% end %>
